pre
{
background-color: #b9b9b9 !important;
}

.wy-side-nav-search {
	background-color: #E53937;
}

.wy-nav-side {
	background: #C42525;
	color: #FDFFFF;
}

.wy-nav-top {
	background: #E84843;
	color: #FDFFFF;
}

.toctree-l1>a:hover { 
  color: #FDFFFF !important;
  background-color: #C42525 !important;
}

.wy-side-nav-search input[type=text] {
   border-color:#C42525 !important;
}

ul .simple {
    margin: -5px;
}

.wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td, .rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #2d2d2d;
}

.wy-table thead, .rst-content table.docutils thead, .rst-content table.field-list thead {
    color: aliceblue;
}

.wy-table-responsive {
    text-align: center;
}

th {
    text-align: center;
}